{% extends 'blog/base.html' %}

{% block content %}
<div class="posts-list">
    {% for post in posts %}
    <div class="card mb-3">
        {% if post.img %}
        <img src="{{ post.photo.url }}" class="card-img-top">
        {% endif %}
        <h5 class="card-header px-5 p-3">
            <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color:black">
                {{ post.title }}</a>
        </h5>
        <div class="card-body">
            <p class="card-text">{{ post.content|safe|linebreaks|truncatewords:50 }}</p>
            <button type="button" class="btn btn-info">
                <a href="{{ post.get_absolute_url }}" style="text-decoration: none; color:black">
                    Читать дальше</a>
            </button>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ post.created_at }}</small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}