{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header px-4 p-3 ">
        Категория: <a href="{{ post.category.get_absolute_url }}"
                      style="text-decoration: none; color:black; font-weight: bold">
        {{ post.category }}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if post.photo %}
            <img src="{{ post.photo.url }}" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|safe|linebreaks }}</p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            {% include 'inc/_modal_delete-button.html' %}

            <a href="{% url 'update_post' post.pk %}">
                <button type="button" class="btn btn-secondary">Изменить</button>
            </a>

        </div>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between">
        {{ post.created_at|date:"Y-m-d H:i" }}
        <div class="fst-italic">Кол-просмотров: {{ post.views }}</div>
    </div>
</div>

{% endblock %}